JDBC_DATABASE_URL=jdbc:postgresql://localhost:5432/homebase
JDBC_DATABASE_USERNAME=homebase
JDBC_DATABASE_PASSWORD=homebase
KEYCLOAK_ISSUER_URI=http://localhost:8081/realms/homebase
KEYCLOAK_CLIENT_ID=homebase-web
